*.my
.idea
.DS_Store
locals/*
log/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
reports
spec/reports
test/tmp
test/version_tmp
tmp
:memory
.env

# YARD artifacts
.yardoc
_yardoc
doc/

# Temporary vim files
*.sw*
*~

# nohup automatic output file
nohup.out
