---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/test.txt&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="1234567890abcde",
        oauth_token="1234567890abcde", oauth_signature="abcdef1234567890abcdef123456789"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '148'
      X-Dropbox-Request-Id:
      - 1234567890abcdef
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - abcdef1234567890abcdef1234567890
    body:
      encoding: US-ASCII
      string: ! '{"is_deleted": true, "revision": 16, "rev": "101157d138", "thumb_exists":
        false, "bytes": 0, "modified": "Fri, 01 Jun 2013 00:00:00 +0000", "client_mtime":
        "Fri, 01 Jun 2013 00:00:00 +0000", "path": "/test.txt", "is_dir": false, "icon":
        "page_white_text", "root": "app_folder", "mime_type": "text/plain", "size":
        "0 bytes"}'
  recorded_at: Sun, 30 Jun 2013 18:43:24 GMT
recorded_with: VCR 2.5.0
