---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/sandbox/test.txt?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="1234567890abcde",
        oauth_token="1234567890abcde", oauth_signature="abcdef1234567890abcdef123456789"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '24'
      X-Dropbox-Request-Id:
      - 1234567890abcdef
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - abcdef1234567890abcdef1234567890
    body:
      encoding: US-ASCII
      string: ! '{"revision": 1, "rev": "111111111", "thumb_exists": false, "bytes":
        29, "modified": "Fri, 01 Jun 2013 00:00:00 +0000", "client_mtime": "Fri, 01 Jun 2013 00:00:00 +0000", "path": "/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "app_folder", "mime_type": "text/plain", "size": "29 bytes"}'
  recorded_at: Fri, 14 Jun 2013 17:14:46 GMT
recorded_with: VCR 2.5.0
