<h1><%= t(:my_assigments) %></h1>
<table id="studentsGrid" class="table table-bordered table-striped table-hover"">
	<tr>
		<th>Trabajo Práctico</th>
		<th>Estado</th>
		<th>Entregas</th>
		<th>Ultima entrega</th>
		<th>Corrector</th>
		<th>Acciones</th>
	</tr>
	<tr>
		<td>Tp N1</td>
		<td>Aprobado</td>
		<td>3</td>
		<td>2013-03-12</td>
		<td>NicoPaez</td>
		<td><a href="/students/xxxx"><i class="icon-zoom-in"></i></a></td>
	</tr>
		<tr>
		<td>Tp N2</td>
		<td>test fallidos</td>
		<td>6</td>
		<td>2013-07-12</td>
		<td>No asignado</td>
		<td><a href="/students/xxxx"><i class="icon-zoom-in"></i></a></td>
	</tr>
</table>
