<h1>Entrega 2013-06-20, 15:23</h1>
<h2>Trabajo práctico Nº 2</h2>
<ul>
	<li>Pruebas: correctas</li>
	<li>Estado: aprobado</li>
	<li>Corrector: NicoPaez (nicopaez@fi.uba.ar)</li>
	<li>Nota: 7</li>
	<li>Observaciones: está muy bueno!</li>
	<li>Salida de la ejecución de pruebas: 3 tests successfully executed</li>
</ul>