section#main-content {
    margin-top: 0px;
    padding-top: 0px;
    min-height: 300px;

}

footer {
    margin-bottom: 20px;
    text-align: right;
}

.centered {
    text-align: center;
}

.form-search {
    text-align: right;
}

.large{
    width: 400px;
}

.big {
    height: 45px;
    min-width: 100px;
    font-size: 22px;
    margin-bottom: 10px;
}

form h1 {
    font-size: xx-large;
    padding-bottom: 10px;
}

.container {
    width: 950px;
}
a i {
    text-decoration:none !important;
}

button.assign-to-me {
    border: 0;
    background-color: transparent;
    color: #2FA4E7;
    padding: 0;
}
button.assign-to-me:hover {
    color: #157AB5;
}