section#main-content {
    margin-top: 0px;
    padding-top: 0px;
    min-height: 300px;

}

footer {
    margin-bottom: 20px;
    text-align: right;
}

.centered {
    text-align: center;
}

.form-search {
    text-align: right;
}

.large{
    width: 400px;
}

.big {
    height: 45px;
    min-width: 100px;
    font-size: 22px;
    margin-bottom: 10px;
}

form h1 {
    font-size: xx-large;
    padding-bottom: 10px;
}

.container {
    width: 950px;
}
a i {
    text-decoration:none !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.2em;
}

button.assign-to-me {
    border: 0;
    background-color: transparent;
    color: #2FA4E7;
    padding: 0;
}
button.assign-to-me:hover {
    color: #157AB5;
}

.correction-details dt {
    margin-top: 10px;
}
.correction-comments {
    margin-top: 10px;
    padding: 14px 19px 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.assignment-file {
    padding: 6px 20px 0px 4px;
    display: inline-block;
    font-weight: 500;
}

.dropdown-menu > li {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle; 
  display: block;

}

.dropdown-menu > li:hover {
    background-color: #2fa4e7;
}

.dropdown-menu > li > i {
  vertical-align: middle;
  display: inline;
}

.dropdown-menu > li > a {
  vertical-align: middle;
  display: inline;
  margin: 0;
  padding: 0;
}


