<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well">
        <h1>Alfred</h1>
        <p class="lead"></p><br/>
          <span class="span3">
            <img src="http://images2.wikia.nocookie.net/__cb20111112220836/batman/es/images/8/89/Alfred.jpg">
          </span>
          <span class="span6">
            <p>¡Bienvenido!</p>

            <p>Alfred es el sistema de gestión de trabajos prácticos de Algoritmos y Programación 3. Mediante este sistema los docentes pueden publicar los trabajos prácticos, ejecutar automáticamente un set de prueba al momento de la entrega y finalmente calificarlos. Asimismo los alumnos pueden acceder a los trabajos que deben realizar, y entregar sus soluciones una vez completas.</p>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>
</header>

<br>

<div class="alert centered">
Alfred está aún en construcción, si detectas algún error o tienes sugerencias, escríbenos a <a href="mailto:<%= ENV['MAIL_SUPPORT_ADDRESS'] %>"><%= ENV['MAIL_SUPPORT_ADDRESS'] %></a>.
</div>

