<h1><%= t(:restore_password) %></h1>
<hr/>

<% form_for :account, url(:restore_password), :method => :post, :class => 'form-horizontal' do |f| %>

    <fieldset class='control-group'>
      <%= f.label t(:email), :class => 'control-label' %>
      <div class='controls'>
        <%= f.email_field :email, :class => 'input-xlarge input-with-feedback' %>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.submit pat(:restore_password), :class => 'btn btn-primary' %>
    </div>

<% end %>