<h2><%= t('assignments.files.title') + " #{@assignment.name}" %></h2>

<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:assignment, :file, :index, :assignment_id => @assignment.id) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:assignment, :file, :new, :assignment_id => @assignment.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :file, url(:assignment, :file, :create, :assignment_id => @assignment.id), :class => 'form-horizontal', :multipart => true do |f| %>
    <%= partial 'assignment_files/form', :locals => { :f => f } %>
 <% end %>
</div>
