<li>
  <a data-toggle="dropdown" href="#"><%= current_course.name %><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_account.courses.each do |course| %>
        <li><i class='icon-blank'></i><a tabindex="-1" href="/courses/<%= course.name %>"><%= course.name %></a></li>
      <% end %>
      <li><i class='icon-save'></i><a href="#">Exportar a CSV</a></li>
    </ul>
</li>
