<li>
	<a href='<%= "/courses/#{current_course.name}/students/me" %>'>
		<%= t('menu.assigments')%>
	</a>
</li>

<li>
  <a href="<%= url_for(:solutions, :index)%>">
        <%= t('menu.submissions')%>
  </a>
</li>



