<li> <%= link_to t('menu.assigments'), url(:my, :assigments, :course_id => current_course.name) %></li>
<li> <%= link_to t('menu.teachers'), url(:teachers, :course_id => current_course.id) %></li>



